REDIS_HOST=localhost
REDIS_PORT=26379
NEO4J_URL=neo4j://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=changeme
GRAPERANK_ATTENUATION_FACTOR=0.85
GRAPERANK_RIGOR=0.5
GRAPERANK_RELEVANT_MAX_HOPS=992
GRAPERANK_DISPLAY_MAX_HOPS=8
